<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>About</h3>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
<!--        TODO: Fill more in about section-->
        <p>{{ site.author.about | escape }}</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/melomg/melomg.github.io/tree/master/assets/MelihGultekinCV.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download my CV
        </a>
      </div>
    </div>
  </div>
</section>
