<footer id="footer" class="site-footer">
  {% include footer-custom.html %}

  {%- if site.footer_links -%}
  <div class="social-icons">
    {%- for footer_link in site.footer_links -%}
    {%- if footer_link.url contains "://" -%}
    {%- assign url = footer_link.url -%}
    {%- else -%}
    {%- assign url = footer_link.url | relative_url -%}
    {%- endif -%}
    <a class="social-icon" target="_blank" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <div class="copyright">
    {{ site.copyright }} &copy; 20{{ site.time | date: '%y' }}
  </div>
  <div class="col-md-4">
      {% for adress in site.address %}
      {{ adress.line }} <br>
      {% endfor %}
  </div>
  <div class="col-rd-4">
    {{ site.credits }}
  </div>
</footer>

<!-- Footer -->
<!--    -->
<!--    {%- for footer_link in site.footer_links -%}-->
<!--    {%- if footer_link.url contains "://" -%}-->
<!--    {%- assign url = footer_link.url -%}-->
<!--    {%- else -%}-->
<!--    {%- assign url = footer_link.url | relative_url -%}-->
<!--    {%- endif -%}-->
<!--    <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>-->
<!--    {%- endfor -%}-->

<!--<footer class="text-center">-->
<!--  <div class="footer-below">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-4">-->
<!--          {{ site.copyright }} &copy; 20{{ site.time | date: '%y' }}-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            {% for adress in site.address %}-->
<!--            {{ adress.line }} <br>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        <div class="col-rd-4">-->
<!--          {{ site.credits }}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<!--&lt;!&ndash; Scroll to Top Button (Only visible on small and extra-small screen sizes) &ndash;&gt;-->
<!--<div class="scroll-top page-scroll visible-xs visible-sm">-->
<!--  <a class="btn btn-primary" href="#page-top">-->
<!--    <i class="fa fa-chevron-up"></i>-->
<!--  </a>-->
<!--</div>-->
